*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  max-width: 1500px;
  width: 90%;
  margin: 0 auto;
}

/* HEADER */
header{
  background-color: black;
  height: 60px;
}

header nav ul{
  display: flex;
  justify-content: flex-end;
  padding-left: 10px;
  list-style: none;
}

header nav ul li{
  padding-left: 10px;  
  padding-top: 4px;
}


.btn{
  text-decoration: none;
  color: white;
  background-color: grey;
  padding: 2px 2px 2px 2px;
  border-radius: 5px;
}
/* HEADER */


/* MAIN */
main{
  background-color: black;
}

main .row{
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
}

.image{
  position: relative;
  display: flex;
  justify-content: center;
  width: 100vh;
  height: 20vh;
  margin-right: 4px;
}



img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nome-utente{
  position: absolute;
  top: 84%;
  left: 0%;
}
/* MAIN */

